/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 30px;
    background-color: rgb(161, 221, 194);
    font-family: 'Barlow Semi Condensed', sans-serif;
}
html {
    scroll-behavior: smooth;
  }