//Paleta de Colores

$back-body: rgb(161, 221, 194);
$color-tipografia: #000000;
$color-submit: white;
$color-shadow: rgb(128, 127, 127);


//Fuentes

$font: "Barlow Semi Condensed", sans-serif;

$font-w-small: 400;
$font-w-black: bold;
$font-w-medium:500;
$font-w-large: 600;

$font-s-xs: 25px;
$font-s-small: small;
$font-s-medium: medium;
$font-s-larger: larger;
$font-s-xl: x-large;
$font-s-xxl: xx-large;

//Alineación

$align-center: center;
$align-flexstart: flex-start;
$align-justify: justify;

//Medidas

$ancho: 100%;
